@use '/assets/styles/variables' as *;

.home-body-resource-list-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 7rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
