@use '/assets/styles/mixins' as *;
@use '/assets/styles/animations' as *;

.home-body-warning {
  @include notification-layer;

  $warning-line-height: 1.5;
  $warning-height: ($warning-line-height * 2) + 1rem;

  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $warning-height;
  width: 100%;
  padding: 0 1rem;
  background-color: rgb(255, 167, 167);

  &__message {
    @include hide-scrollbar;

    max-width: 100%;
    max-height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 575;
    line-height: $warning-line-height;
    overflow: auto;
    word-break: break-all;
    @include withPrefixes(hyphens, auto);
  }

  &__button {
    $button-background-color: rgb(255 255 255);

    flex-shrink: 0;
    height: 100%;
    width: $warning-height;
    margin-left: 1rem;
    border: none;
    padding: 0;
    background-color: transparentize($button-background-color, 0.4);

    &:hover {
      @include animate-bubble-out;
    }
  }
}
