@use '/assets/styles/variables' as *;
@use '/assets/styles/mixins' as *;
@use '/assets/styles/animations' as *;

@use './ItemContent/styles' as content;
@use './ItemDetails/styles' as details;

.home-body-resource-list-body-item {
  $element: '.home-body-resource-list-body-item';

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;

  &:not(:first-child) {
    border-top: 1px solid $color-7;

    #{$element}-content {
      &_expanded {
        margin-top: 1em;
        transition: margin-top 0.2s ease;
      }
    }
  }

  &:not(:last-child) {
    #{$element}-details {
      margin-bottom: 1em;
      transition: margin-bottom 0.2s ease;
    }
  }

  &-content {
    @include content.styles;
  }

  &-details {
    @include details.styles;
  }
}
