@use './Header/styles' as *;
@use './Body/styles' as *;
@use './Footer/styles' as *;


.home {
  position: relative;
  height: 100%;
  width: 100%;

  &-header {
    @include header;
  }

  &-body {
    @include body;
  }

  &-footer {
    @include footer;
  }
}
