@use './Header/styles' as header;
@use './Body/styles' as body;
@use './Footer/styles' as footer;

.home {
  position: relative;
  height: 100%;
  width: 100%;

  &-header {
    @include header.styles;
  }

  &-body {
    @include body.styles;
  }

  &-footer {
    @include footer.styles;
  }
}
