@use '/assets/styles/variables' as *;

.home-body-resource-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-height: 30rem;
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 20%;

    &:hover {
      // background-color: rgba(0, 255, 255, 0.125);
      background-color: $color-secondary;
    }

    &__status {
      transition: background-color 0.5s ease;
      text-transform: capitalize;
      border: 2px solid black;
      border-radius: 30px;
      padding: 0.5rem 1.5rem;
      background-color: silver;
      user-select: none;

      &_ready {
        background-color: #a3deff;
      }

      &_running {
        background-color: #96ffbf;
      }

      &_paused {
        background-color: #ffeb80;
      }
    }

    &-state {
      transition: border-radius 0.3s ease, background-color 0.3s ease;
      height: 3rem;
      width: 3rem;
      border-radius: 10%;

      .icon {
        transition: transform 0.1s ease;
        height: 75%;
      }

      &:hover {
        border-radius: 50%;
        background-color: white;
      }

      &:active {
        .icon {
          transform: scale(0.875);
        }
      }
    }

    &-delete {
      height: 3rem;
      width: 3rem;

      .icon {
        transition: transform 0.3s ease;
        fill: red;
        height: 70%;
      }

      &:hover {
        .icon {
          transform: scale(1.25);
        }
      }
    }
  }
}
