.home-body-resource-list {
  margin-top: 2rem;
  max-height: 30rem;
  overflow: auto;
  list-style: none;
  padding: 0;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: rgba(0, 255, 255, 0.125);
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &__status {
      transition: background-color 0.5s ease;
      text-transform: capitalize;
      border: 2px solid black;
      border-radius: 30px;
      padding: 0.5rem 1.5rem;
      background-color: silver;

      &_ready {
        background-color: #a3deff;
      }

      &_running {
        background-color: #96ffbf;
      }

      &_paused {
        background-color: #ffeb80;
      }
    }

    &-state {
      width: 3rem;
      height: 3rem;

      &__icon {
        height: 2rem;
      }
    }
  }
}
