@use '/assets/styles/variables' as *;

.home-body-resource-list-header {
  display: flex;
  justify-content: center;
  height: 3rem;

  &-content {
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
    overflow: auto;
    background-color: $color-1;
    padding: 0 1rem;

    &-cell {
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &_url {
        flex-grow: 1;
        width: 30%;
      }

      &_sent {
        width: 10%;
      }

      &_status {
        width: 20%;
      }

      &_started-at {
        width: 15%;
      }

      &_state {
        width: 3rem;
      }

      &_delete {
        width: 3rem;
      }
    }
  }
}
