$font-size-default: 16px;
$font-family-serif: Garamond, serif;
$font-family-sans-serif: 'Montserrat', Verdana, sans-serif;
$font-color-default: rgb(48, 48, 48);

$link-color: rgb(147 112 219);

$color-1: rgb(230, 230, 250);
$color-2: rgb(224, 245, 255);
$color-3: rgb(147 112 219);
$color-4: rgb(48, 48, 48);
$color-5: rgb(192, 192, 192);
$color-6: rgb(129, 129, 129);

$color-main: rgb(255 228 196);
$color-red: rgb(255, 93, 93);
$color-green: rgb(91, 228, 86);
