$font-size-default: 16px;
$font-family-serif: Garamond, serif;
$font-family-sans-serif: Verdana, sans-serif;
$font-color-default: rgb(48, 48, 48);

$border-color-default: rgb(48, 48, 48);

$link-color: rgb(255, 0, 140);

$color-primary: rgb(230, 230, 250);
$color-secondary: rgb(255 228 196);

$color-red: rgb(255, 93, 93);
$color-green: rgb(91, 228, 86);
