$font-size-default: 16px;
$font-family-serif: Garamond, serif;
$font-family-sans-serif: 'Montserrat', Verdana, sans-serif;
$font-color-default: rgb(48, 48, 48);
$font-color-minor: rgb(116, 116, 116);

$link-color: rgb(147 112 219);

$outline-color: rgb(147 112 219);

$color-1: rgb(228, 220, 255);
$color-2: rgb(224, 245, 255);
$color-3: rgb(147 112 219);
$color-4: rgb(100, 100, 100);
$color-5: rgb(194, 194, 194);
$color-6: rgb(78 46 129);
$color-7: rgb(215, 195, 255);
$color-8: rgb(218, 218, 218);

$color-main: rgb(255 228 196);
$color-red: rgb(255, 93, 93);
$color-green: rgb(91, 228, 86);
