@use 'variables' as *;

// HELPERS
@mixin create-animation($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin use-animation($name, $duration, $fill-mode) {
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-fill-mode: $fill-mode;

  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-fill-mode: $fill-mode;

  -ms-animation-name: $name;
  -ms-animation-duration: $duration;
  -ms-animation-fill-mode: $fill-mode;

  animation-name: $name;
  animation-duration: $duration;
  animation-fill-mode: $fill-mode;
}

// CREATE THE NAMED ANIMATIONS BELOW
// For example, the 'create-animation(bubble-in)' mixin will be translated to '@keyframes bubble-in'
@include create-animation(bubble-in) {
  from {
    width: 100%;
    height: 100%;
    border-width: 0;
  }

  to {
    width: 93%;
    height: 93%;
    border-width: 2px;
    border-radius: 50%;
  }
}

@include create-animation(bubble-out) {
  from {
    width: 0;
    height: 0;
    border-radius: 50%;
    opacity: 1;
  }

  75% {
    border-radius: 50%;
    opacity: 1;
  }

  to {
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 0.75;
  }
}

// TODO: implement
@include create-animation(fill-right) {
  from {
    transform: skew();
    width: 50%;
  }

  to {
    width: 100%;
    transform: none;
  }
}

// CREATE LINKS TO THE NAMED ANIMATIONS BELOW
@mixin animate-bubble-in($fill-color: white, $duration: 0.2s) {
  position: relative;

  & > * {
    z-index: +1;
  }

  &::before {
    @include use-animation(bubble-in, $duration, (forwards, backwards));

    position: absolute;
    content: '';
    border: 0 solid transparentize($fill-color, 0.35);
    background-color: transparentize($fill-color, 0.85);
    pointer-events: none;
  }
}

@mixin animate-bubble-out(
  $background-color: rgba(255, 255, 255, 0.375),
  $duration: 0.3s
) {
  position: relative;

  &::before {
    @include use-animation(bubble-out, $duration, (forwards, backwards));

    position: absolute;
    content: '';
    background-color: $background-color;
    pointer-events: none;
  }
}

@mixin animate-fill-right(
  $background-color: rgba(255, 255, 255, 0.4),
  $duration: 0.2s
) {
  position: relative;

  &::before {
    @include use-animation(fill-right, $duration, (forwards, backwards));

    position: absolute;
    content: '';
    background-color: $background-color;
  }
}
