@font-face {
  font-family: 'Montserrat';
  font-weight: 1 999;
  src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 1 999;
  font-style: italic;
  src: url('/assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Dela Gothic One';
  font-weight: 400;
  src: url('/assets/fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf')
    format('truetype');
}
