@media screen and (max-width: 1440px) {
  .home-body-resource-list {
    &-header-content,
    &-body-item-content {
      width: 75%;
    }
  }
}

@media screen and (max-width: 1024px) {
  // TEMP
  .home-header-message-text {
    font-size: 55px;
  }

  .home-body {
    &-heading__text {
      width: 70%;
      font-size: 2rem;
    }

    &-main-form {
      width: 65%;
    }

    &-resource-list {
      &-header-content,
      &-body-item-content {
        width: 85%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // TEMP
  .home-header-message-text {
    font-size: 40px;
  }

  .home {
    &-header {
      &-heading {
        margin-left: 5%;
        font-size: 1.125rem;
      }
    }

    &-body {
      &-heading__text {
        width: 80%;
        font-size: 1.75rem;
      }

      &-main-form {
        $input-height: 4.5rem;

        flex-direction: column;
        width: 80%;
        border-radius: 15px;

        &__input {
          height: $input-height;
          line-height: $input-height;
          padding: {
            left: 1.5rem;
            right: 1.5rem;
          }
          border: {
            top-left-radius: inherit;
            top-right-radius: inherit;
            bottom-left-radius: 0;
            bottom-right-radius: 0;
          }
        }

        &__button {
          height: $input-height;
          width: 100%;
          border: {
            top-right-radius: 0;
            bottom-left-radius: inherit;
          }
        }
      }

      &-resource-list {
        &-header-content,
        &-body-item-content {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  // TEMP
  .home-header-message-text {
    font-size: 30px;

    &__beloved::before {
      bottom: 0.5em;
    }
  }

  .home {
    &-header {
      &-heading {
        margin-left: 0;
        font-size: 1rem;
      }
    }

    &-body {
      &-heading__text {
        width: 90%;
        font-size: 1.375rem;
      }

      &-main-form {
        $input-height: 4rem;

        width: 95%;
        border-radius: 5px;

        &__input {
          height: $input-height;
          line-height: $input-height;
          padding: {
            left: 1.25rem;
            right: 1.25rem;
          }
        }

        &__button {
          height: $input-height;
          font-size: 0.875rem;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .home-body {
    &-heading__text {
      width: 95%;
      font-size: 1.25rem;
    }

    &-main-form {
      $input-height: 3.5rem;

      width: 95%;
      border-radius: 10px;

      &__input {
        font-size: 0.875rem;
        height: $input-height;
        line-height: $input-height;
        padding: {
          left: 1rem;
          right: 1rem;
        }
      }

      &__button {
        height: $input-height;
      }
    }
  }
}
