@mixin hide-scrollbar {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin stretch-non-static {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin with-prefixes($prop, $value) {
  -moz-#{$prop}: $value;
  -o-#{$prop}: $value;
  -ms-#{$prop}: $value;
  -webkit-#{$prop}: $value;
  #{$prop}: $value;
}

@mixin paint-svg($color) {
  &,
  & * {
    color: $color;
    fill: $color;
  }
}

// LAYERS
@mixin system-notification-layer {
  z-index: 600;
}

@mixin notification-layer {
  z-index: 500;
}

@mixin header-layer {
  z-index: 400;
}
