@use '/assets/styles/mixins' as *;

@mixin styles {
  @include hideScrollbar;

  display: flex;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  overflow: auto;
  overflow-wrap: anywhere;
  white-space: nowrap;
  margin: {
    right: 1.5rem;
    bottom: 1rem;
  }
}
